@font-face {
    font-family: 'Buka Bird';
    src: url('Fontes/Buka\ Bird.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Buka Bird', cursive;
    background-image: url(Assets/ponto-de-espiar-simples-avanltuitbywoc3a.webp) ;
    color: black;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 48px;
    margin-top: 20px;
}

h2 {
    font-size: 36px;
}

button {
    font-family: 'Buka Bird', cursive;
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

button:hover {
    background-color: #FF1493;
}

h1, h2, button {
    font-family: 'Waltograph', cursive !important;
}
header {
    padding: 20px;
}

.stitch-image {
    width: 200px;
    margin-top: 20px;
}

button {
    background-color: #FF69B4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #FF1493;
}

#countdown {
    font-size: 24px;
    margin-top: 20px;
}
